.container{
  margin: 20% auto;
  text-align: center;
}

.modal{
  visibility: hidden;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  position: relative;
  border-radius: 5px;
  background: rgb(4, 210, 193);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 0;
}

.modal:target{
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-yes  div{
  position: relative;
  margin: 0 auto;
}

.modal-no{
  display: none;
  margin: 0 auto;
  width: 500px;
  position: relative;
  border-radius: 5px;
  background: rgb(210, 4, 4);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 0;
}

.modal-no:target{
  opacity: 1;
  pointer-events: auto;
}

.modal-no > div{
  position: relative;
  margin: 10% auto;
}

.text-modal{
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: #FFFFFF;
}